<h2>NEW CELEBRITIES</h2>

<form
  action="/celebrtities/create"
  method="post"
  enctype="application/x-www-form-urlencoded"
>
  <label for="name">Name: </label>
  <input type="text" id="name" name="name" />

  <label for="name">Occupation: </label>
  <input type="text" id="occupation" name="occupation" />

  <label for="name">Catch phrase: </label>
  <input type="text" id="catchPhrase" name="catchPhrase" />

  <button>SUBMIT</button>

</form>